# Virtual environment
venv/
myvenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store